.DS_Store
*.class
*.iml
*.orig
out.raw

# Configuration
.idea/
.classpath
.project
.settings
**/..classpath
**/.project
**/.settings/
.gradle

# Output folder
out/
**/target/
/target
bin/
build/


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

